@charset "UTF-8";

/*共通ここから*/
.container{
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    text-align: center;
}
.title{
    padding-bottom: 30px;
}
.title h2{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
/*共通ここまで*/

/*headerここから*/
header .container{
    max-width: 1000px;
    text-align: initial;
}
/*headerここまで*/

/*mainvisual-wrapperここから*/
.mainvisual-wrapper .container{
    max-width: 1000px;
    height: 400px;
    background-image: url(../images/mainvisual.png);
}
/*mainvisual-wrapperここまで*/

/*index-wrapperここから*/
.index-wrapper .container{
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 60px;
    background-color: #F5F5F5;
}
.title-list{
    border: 1px solid #333333;
    padding-top: 30px;
    padding-bottom: 10px;
}
ol{
    list-style-position: inside;
}
li{
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
}
/*index-wrapperここまで*/

/*images-wrapperここから*/
.images-wrapper .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 542px;
    align-content: space-between;
}
/*images-wrapperここまで*/

/*detail-wrapperここから*/
.detail-wrapper .container{
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 60px;
    background-color: #F5F5F5;
}
.detail-contents{
    text-align: initial;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
}
.infomation-contents{
    margin-bottom: 10px;
    color: #333333;
}
/*detail-wrapperここまで*/

/*footerここから*/
/*footerここまで*/
