@charset "UTF-8";

/*共通ここから*/
.container{
    margin: 0 auto;
    max-width: 800px;
    width: calc(100% - 40px);
}
.title{
    padding-bottom: 25px;
    text-align: center;
}
.title h2{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
img{
    max-width: 100%;
    vertical-align: top;
}
@media screen and (max-width: 750px) {
.container{
    
}
}
/*共通ここまで*/

/*headerここから*/
header .container{
    max-width: 1000px;
    padding-top: 60px;
}
header h1{
    line-height: 0;
    margin-bottom: 15px;
}
@media screen and (max-width: 750px) {
header .container{
    margin-left: 10px;
}
}
    
/*headerここまで*/

/*mainvisual-wrapperここから*/
.mainvisual-wrapper .container{
    max-width: 1000px;
    height: 400px;
    background-image: url(../images/mainvisual.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

@media screen and (max-width: 750px) {
.mainvisual-wrapper .container{
    min-height: 150px;
    height: 100%;
}
}
/*mainvisual-wrapperここまで*/

/*index-wrapperここから*/
.index-wrapper .container{
    margin-top: 58px;
    margin-bottom: 58px;
    padding: 60px;
    background-color: #F5F5F5;
}
.title-list{
    border: 1px solid #333333;
    padding-top: 30px;
    padding-bottom: 10px;
}
ol{
    list-style-position: inside;
    width: 410px;
    margin: 0 auto;
}
li{
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
}

@media screen and (max-width: 750px){
.index-wrapper .container{
    padding: 40px 20px;
}
ol{
    width: initial;
}
}
/*index-wrapperここまで*/

/*images-wrapperここから*/
.images-wrapper .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image-container{
    margin-bottom: 15px;
    width: calc((100% - 15px) / 2);
}
/*images-wrapperここまで*/

/*detail-wrapperここから*/
.detail-wrapper .container{
    margin-top: 43px;
    margin-bottom: 60px;
    padding: 60px;
    background-color: #F5F5F5;
}
.detail-contents{
    text-align: initial;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: #333333;
}
.information{
    width: 280px;
    border-right: solid 1px #333333;
}
.information dt{
    font-weight: bold;
}
.information dd{
    line-height: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}
.text{
    width: 520px;
    padding-left: 40px;
}
.text p{
    margin-bottom: 15px;
}
.text a{
    color: #333333;
}
/*detail-wrapperここまで*/

/*footerここから*/
footer p{
    text-align: center;
    font-size: 10px;
    color: #333333;
    padding-top: 11px;
}
/*footerここまで*/
